/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my css */
#main {
  height: 100vh;
  width: 100vw;
  background: #d6d6d6;
  align-items: start;
  justify-content: center;
}

button {
  padding: 20px;
  border: none;
  background: white;
}

#nav {
  background: blue;

  height: 50px;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}

button {
  cursor: pointer;
  width: 100px;
  height: 100%;
  font: weight 600px;
}

button:hover {
  background: black;
  color: white;
}

.nav-btn {
  height: 100%;
}
#group1,
#group2,
#group3 {
  display: flex;
  height: 100%;
}
#group2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  position: absolute;
}

#dashboard-menu {
  background: white;
  font: inherit;
}
#dropdown-wrapper {
  width: 200px;
  padding-left: 30px;
  grid-row: 1/1;
  grid-column: 2/2;
}
#options-btn {
  width: inherit;
  height: 50px;
}

#content {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  padding-top: 50px;
}

#dashboard-menu {
  padding: 0px;
}

li {
  padding: 10px;
  padding-left: 30px;
}
.clickable {
  background: white;
}
.clickable:hover {
  background: black;
  color: white;
  transition: 0.2s;
}
.options-hidden {
  display: none;
}

.options-visible {
  display: block;
}
